@import '../Type.scss';
@import '../Breakpoints.scss';

.portfolio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    .statement {
        width: 60%;
        text-align: center;
        padding-bottom: 48px;
        
        h3 {
            padding-bottom: 24px;
        }
    }

    &-link {
        text-decoration: none;
        width: 70%;
        overflow: hidden;
        margin-bottom: 16px;

        :after {
            content: "";
            background-color: black;
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &:hover :after {
            opacity: 0.05;
        }

        &-container {
            background-color: $pli-bg-light-biege;
            height: 300px;
            display: flex;
            position: relative;
        }
        &-image {
            width: 50%;
            max-height: 300px;
            object-fit: contain;
            background-color: #fff;
            &.whitebg {
                border-left: 1px solid #ddd;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                border-right: none;

                @media only screen and (max-width: $large) {
                    border-left: 1px solid #ddd;
                    border-top: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    border-bottom: none;
                }
            }
        }
        &-text {
            width: 50%;
            padding: 16px 24px;
            h4 {
                margin-bottom: 8px;
            }
            .tags {
                color: $pli-grey;
                font-size: 13px;
                margin-bottom: 16px;
                .tag {
                    padding-left: 4px;
                    padding-bottom: 2px;
                    margin-right: 24px;
                }
            }
        }


    }



}


// Tablet
@media only screen and (min-width: 600px) and (max-width: 1264px) {

  }
  
// Mobile
@media only screen and (max-width: $large) {
    .portfolio {
        .statement {
            width: 100%;
        }
        &-link {
            width: 90%;
            &-container {
                height: auto;
                flex-flow: column;
            }
            &-image {
                width: 100%;
            }
            &-text {
                width: 100%;
            }
        }


    }
}

@media only screen and (min-width: $med) and (max-width: $large) {

  }


  