@import "../Colours.scss";
@import "../Fonts.scss";
@import "../Breakpoints.scss";

.header-container {
    font-family: $pli-text-font;
    max-height: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    background-color: $pli-bg-biege;
    padding: 6px 16px;

    .header-logo {
        width: 10%;
      }
    
      .header-left {
        width: 40%;
        span {
          display: block;
          text-align: center;
        }
      }
    
      .header-mid {
        width: 40%;
        text-align: center;
        a {
          padding: 0 8px;
        }
      }
    
      .header-right {
        width: 10%;
        span {
          display: block;
          text-align: center;
        }
      }
    
      //Tablet
      @media only screen and (min-width: $small) and (max-width: $med) {
        .header-logo {
          width: 20%;
        }
        .header-left {
          width: 80%;
        }
        .header-mid {
          width: 70%;
          padding-top: 2%;
          padding-bottom: 2%;
        }
        .header-right {
          width: 30%;
          padding-top: 2%;
          padding-bottom: 2%;
        }
      }
    
        //Mobile
        @media only screen and (max-width: $small) {
          .header-logo {
            width: 15%;
            img {
              width: 53px;
              height: 40px;
            }
          }
          .header-left {
            display: none;
          }
          .header-mid {
            width: 85%;
            padding-top: 2%;
            padding-bottom: 2%;
            text-align: right;
          }
          .header-right {
            display: none;
          }
        }
    
}
